.btn-navyblue {
    background-color: $navyblue-600;
    color: white;
    padding: 8px 20px;
    &:hover {
        color: whitesmoke;
    }
}

@mixin btn-defaul1($color, $bg-color, $p-te, $p-lr, $fsize) {
    color: $color;
    background-color: $bg-color;
    padding: $p-te $p-lr;
    font-size: $fsize;
    outline: 0;
}

@mixin btn-defaul($color, $bd-color, $bg-color-hover, $color-hover, $bg-color-act, $color-act) {
    color: $color;
    background-color: none;
    padding: 8px 20px;
    border: 1px $bd-color solid;
    outline: 0;
    &:hover {
        background-color: $bg-color-hover;
        color: $color-hover;
    }
    &:active {
        background-color: $bg-color-act;
        color: $color-act;
    }
}

// btn scoll-top
#myBtn {
    position: fixed;
    bottom: 236px;
    right: 80px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $grey-500;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 35px;
    font-size: 0;
    @include mobile {
        bottom: 236px;
        right: 20px;
    }
    @include tablet {
        bottom: 236px;
        right: 40px;
    }
}

#myBtn:hover {
    background-color: #555;
}

// end btn scoll-top