$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$XL: 1400px;
$XXL:3000;
@mixin mobile1 {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) and (max-width: #{$XL}) {
        @content;
    }
}

@mixin pc {
    @media (min-width: #{$XL}) and (max-width: #{$XXL}) {
        @content;
    }
}