$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$XS: 480px;
$XL: 1400px;
@mixin mobile1 {
    @media (max-width: #{$XS}) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) and (max-width: #{$XL - 1px}) {
        @content;
    }
}