// color
$black-500: #1B232A;
$yellow-900: #EEAA02;
$yellow-600: #FFC82F;
$navyblue-500: #2B25A1;
$navyblue-600: #140A9A;
$navyblue-700: #0901AA;
$grey-500: #D5D5D5;
$grey-600: #A5ABAF;
//font-size
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-28: 28px;
$fs-28: 28px;
$fs-52: 52px;
//margin
$mg-0:4px;
$mg-1:8px;
// padding
$pd-2: 8px;
$pd-4: 16px;
$pd-10:40PX;
$pd-20:80PX;
//font weight
$fw-3:300;
$fw-4:400;
$fw-5:500;
$fw-6:600;
$fw-7:700;
$fw-8:800;
$fw-9:900;
//line-height
$line-height-0:1.43;
$bd: thin black solid;