// color
$black-600: #1B232A;
$yellow-900: #EEAA02;
$yellow-600: #FFC82F;
$navyblue-600: #140A9A;
$grey-600: #A5ABAF;
//font-size
$fs-14: 14px;
$fs-16: 16px;
$fs-24: 24px;
$fs-28: 28px;
//margin
$mg-0:4px;
$mg-1:8px;
// padding
$pd-2: 8px;
$pd-4: 16px;
$pd-10:40PX;
$pd-20:80PX;
$bd: thin black solid;