//header
.header {
    border: $bd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__left {
        display: flex;
        list-style: none;
    }
    &__nav {
        &-item-list {
            display: flex;
            list-style-type: none;
        }
    }
    &__nav-item {
        padding: $pd-4 $pd-10;
        a {
            text-decoration: none;
            color: black;
        }
    }
    &__right {
        a {
            text-decoration: none;
            color: black;
        }
    }
}