body {
    background-color: rgb(245, 243, 243);
    font-family: 'Open Sans', sans-serif;
    line-height: $line-height-0;
}

.header {
    .navbar {
        box-shadow: -4px 0 14px -2px $grey-600;
        .container {
            .img-logo {
                width: 280px;
                @include mobile1 {
                    width: 200px;
                }
            }
            .d-flex {
                .nav-btn1 {
                    display: none;
                    @include mobile1 {
                        display: block;
                    }
                    @include mobile {
                        display: block;
                    }
                }
                .nav-btn2 {
                    display: block;
                    @include mobile1 {
                        display: none;
                    }
                    @include mobile {
                        display: none;
                    }
                }
            }
            .navbar-collapse {
                .navbar-nav {
                    width: 100%;
                    a {
                        padding-left: 10px;
                    }
                    .nav-item:hover {
                        background-color: $yellow-600;
                        a {
                            color: black;
                        }
                    }
                }
            }
            .width-content {
                width: 90%;
                justify-content: space-around;
                color: $black-500;
                font-size: $fs-20;
                .btn {
                    font-size: $fs-22;
                }
            }
        }
    }
}

// main
.content {
    .row {
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }
    .content-start {
        margin-top: 60px;
        &__left {
            text-align: center;
            &__image {
                width: 580px;
                @include mobile1 {
                    width: 100px;
                }
                @include mobile {
                    width: 300px;
                }
                @include tablet {
                    width: 500px;
                }
                @include desktop {
                    width: 480px;
                }
            }
        }
        &__right {
            .content-start__title {
                font-size: $fs-52;
            }
            .tab-content {
                height: 116px !important;
            }
            .price {
                &__card {
                    width: 300px;
                    color: white;
                    background-color: $navyblue-600;
                    border-radius: 5px;
                    &__title {
                        font-weight: $fw-6;
                    }
                    &__total {
                        font-size: $fs-24;
                        font-weight: $fw-6;
                    }
                }
                &__card:first-child {
                    margin-right: 36px;
                    @include mobile1 {
                        margin-right: 0;
                    }
                }
            }
            .note {
                .material-icons.orange600 {
                    color: $yellow-900;
                }
                &__content {
                    margin-left: $mg-0;
                    .note__link {
                        text-decoration: none;
                        color: $navyblue-600;
                        font-weight: $fw-9;
                    }
                    &__text {
                        white-space: nowrap;
                        width: 150px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        border: 1px solid #000000;
                        -webkit-line-clamp: 2;
                    }
                }
            }
        }
    }
    .content-end {
        &__title {
            font-size: $fs-24;
            font-weight: $fw-7;
        }
        &__card-item {
            .card-img-top {
                width: 100%;
                height: 200px;
            }
            .card-body {
                .card-title {
                    font-size: $fs-18;
                    color: $navyblue-600;
                }
                .card-size {
                    font-weight: $fw-7;
                }
            }
        }
        &__card {
            display: flex;
            @include mobile1 {
                display: none;
            }
            @include mobile {
                display: none;
            }
            @include tablet {
                display: flex;
            }
            @include desktop {
                display: flex;
            }
        }
        &__carousel {
            .carousel-indicators {
                .list-inline-item {
                    .img-thumbnail {
                        width: 126px;
                        height: 80px;
                    }
                }
            }
            .carousel-item {
                background-color: none;
                width: 100%;
                height: 560px;
            }
            .btn-color {
                background-color: rgb(20, 20, 20);
            }
            .carousel-control-prev-icon,
            .carousel-control-next-icon {
                background-color: $yellow-600;
                border-radius: 50%;
                color: black;
            }
            .carousel-control-prev,
            .carousel-control-next {
                top: -360px;
            }
            display: none;
            @include mobile1 {
                display: block;
            }
            @include mobile {
                display: block;
            }
        }
    }
    .content-end__warranty {
        font-size: $fs-14;
    }
}

// ~main
// postcode
.postcode-pd {
    display: flex;
    padding: 20px 250px;
    @include mobile1 {
        padding: $pd-2 $pd-2;
        display: block;
    }
    @include mobile {
        padding: $mg-5 $mg-5;
        display: block;
    }
    @include tablet {
        padding: $mg-5 50px;
        display: block;
    }
    @include desktop {
        padding: $mg-5 $mg-12;
    }
}

.contactus {
    &__tilte {
        font-size: 24px;
        font-weight: 700;
    }
    &__btn {
        @include btn-defaul($navyblue-600, $navyblue-600, $navyblue-600, white, $navyblue-700, white);
    }
}

//end postcode
// footer
.footer-detail {
    background-color: $black-500;
    color: white;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    padding: 40px 144px;
    grid-template-columns: 1fr 1fr 1fr;
    @include mobile1 {
        display: block;
        padding: 10px 20px;
    }
    @include mobile {
        display: block;
        padding: 20px 40px;
    }
    @include tablet {
        display: block;
        padding: 20px 40px;
    }
    @include desktop {
        padding: 20px 50px;
    }
    .item2 {
        grid-area: 1 / 2 / 3 / 3;
        &__content {
            width: 224px;
        }
        .d-flex {
            justify-content: center;
            .material-icons.orange600 {
                color: $yellow-900;
            }
            @include desktop {
                justify-content: center;
            }
            @include mobile1 {
                justify-content: center;
            }
            @include mobile {
                justify-content: center;
            }
            @include tablet {
                justify-content: center;
            }
        }
    }
    .item3 {
        grid-area: 1 / 3 / 3 / 3;
        .contact__btn {
            color: white;
            margin: $mg-0;
            width: 140px;
            @include btn-defaul(white, white, rgb(17, 17, 17), white, rgb(0, 0, 0), white);
        }
        @include mobile1 {
            display: block;
            justify-content: center;
            margin: $mg-0 $mg-0 !important;
        }
        @include mobile {
            display: flex;
            justify-content: center;
            margin: $mg-0 $mg-0 !important;
        }
        @include tablet {
            display: flex;
            justify-content: center;
            margin: $mg-0 $mg-0 !important;
        }
    }
    .item4 {
        &__tilte {
            font-weight: 700;
            color: $yellow-600;
            &__1 {
                padding-right: 112px;
            }
        }
        &__content {
            display: flex;
            justify-content: center;
            &__address {
                width: 436px;
                text-align: left;
            }
        }
    }
}

$tooltip-bg: black;
//~ footer