@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.btn-navyblue {
  background-color: #140A9A;
  color: white;
  padding: 8px 20px; }
  .btn-navyblue:hover {
    color: whitesmoke; }

#myBtn {
  position: fixed;
  bottom: 236px;
  right: 80px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #D5D5D5;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 35px;
  font-size: 0; }
  @media (min-width: 480px) and (max-width: 767px) {
    #myBtn {
      bottom: 236px;
      right: 20px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    #myBtn {
      bottom: 236px;
      right: 40px; } }

#myBtn:hover {
  background-color: #555; }

.postcode {
  background-color: #FFC82F; }
  .postcode__title {
    color: #140A9A;
    font-weight: 600;
    font-size: 20px; }
  .postcode .smail-text {
    font-size: 12px; }

.checkbox-custom {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .checkbox-custom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .checkbox-custom .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: #eee; }

.checkbox-custom:hover input ~ .checkmark {
  background-color: #ccc; }

.checkbox-custom input:checked ~ .checkmark {
  background-color: #140A9A; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.checkbox-custom input:checked ~ .checkmark:after {
  display: block; }

.checkbox-custom .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.checkbox-custom__smail-text:after {
  content: "";
  position: absolute;
  display: none; }

.autocomplete {
  position: relative;
  display: inline-block; }
  .autocomplete input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px; }
  .autocomplete input[type=text] {
    background-color: #f1f1f1;
    width: 100%; }
  .autocomplete input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer; }

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0; }

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4; }

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; }

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff; }

.wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  min-width: 220px; }
  .wrapper .example {
    line-height: 30px;
    overflow: hidden; }
    .wrapper .example .material-icons.orange600 {
      color: #EEAA02; }
  .wrapper .toggle {
    margin-left: 30px;
    text-decoration: none;
    color: #140A9A;
    font-weight: 900; }

.example > div {
  max-height: 100px; }

/* readable pathnames */
.example ul,
.example ol,
.example li {
  display: block;
  list-style: none; }

.example li {
  height: 35px;
  padding: 7px 0; }

.example li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.2); }

/* toggle full story */
.example > .full-story {
  max-height: initial; }

.example .toggle:before {
  content: 'Learn more 🠗'; }

.example > .full-story .toggle:before {
  content: 'Learn more ↑'; }

.oldbrowser {
  display: none; }

@media screen and (min-width: 0\0) {
  .oldbrowser {
    background: red;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    display: block;
    padding: 50px;
    margin: 50px -50px; } }

html {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: #444; }

body {
  margin: 0;
  background: #504f4f;
  font-size: 1em; }

.wrapper {
  margin: 0 auto;
  max-width: 1100px; }

.container-calendar {
  background: #ffffff;
  padding: 0 15px;
  max-width: 475px;
  margin: 0 auto;
  overflow: auto; }

.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #00a2b7;
  color: #fff;
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px; }

.table-calendar {
  border-collapse: collapse;
  width: 100%; }

.table-calendar td, .table-calendar th {
  padding: 5px;
  border: 1px solid #e2e2e2;
  text-align: center;
  vertical-align: top; }

.date-picker.selected {
  font-weight: bold;
  outline: 1px dashed #00BCD4; }

.date-picker.selected span {
  border-bottom: 2px solid currentColor; }

/* sunday */
.date-picker:nth-child(1) {
  color: red; }

/* friday */
.date-picker:nth-child(6) {
  color: green; }

#monthAndYear {
  text-align: center;
  margin-top: 0; }

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both; }

#previous {
  float: left; }

#next {
  float: right; }

.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0; }

.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #585858;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em; }

.modal .modal-content {
  width: 600px; }

body {
  background-color: #f5f3f3;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.43; }

.header .navbar {
  box-shadow: -4px 0 14px -2px #A5ABAF; }
  .header .navbar .container .img-logo {
    width: 280px; }
    @media (max-width: 480px) {
      .header .navbar .container .img-logo {
        width: 200px; } }
  .header .navbar .container .d-flex .nav-btn1 {
    display: none; }
    @media (max-width: 480px) {
      .header .navbar .container .d-flex .nav-btn1 {
        display: block; } }
    @media (min-width: 480px) and (max-width: 767px) {
      .header .navbar .container .d-flex .nav-btn1 {
        display: block; } }
  .header .navbar .container .d-flex .nav-btn2 {
    display: block; }
    @media (max-width: 480px) {
      .header .navbar .container .d-flex .nav-btn2 {
        display: none; } }
    @media (min-width: 480px) and (max-width: 767px) {
      .header .navbar .container .d-flex .nav-btn2 {
        display: none; } }
  .header .navbar .container .navbar-collapse .navbar-nav {
    width: 100%; }
    .header .navbar .container .navbar-collapse .navbar-nav a {
      padding-left: 10px; }
    .header .navbar .container .navbar-collapse .navbar-nav .nav-item:hover {
      background-color: #FFC82F; }
      .header .navbar .container .navbar-collapse .navbar-nav .nav-item:hover a {
        color: black; }
  .header .navbar .container .width-content {
    width: 90%;
    justify-content: space-around;
    color: #1B232A;
    font-size: 20px; }
    .header .navbar .container .width-content .btn {
      font-size: 22px; }

.content .row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0; }

.content .content-start {
  margin-top: 60px; }
  .content .content-start__left {
    text-align: center; }
    .content .content-start__left__image {
      width: 580px; }
      @media (max-width: 480px) {
        .content .content-start__left__image {
          width: 100px; } }
      @media (min-width: 480px) and (max-width: 767px) {
        .content .content-start__left__image {
          width: 300px; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .content .content-start__left__image {
          width: 500px; } }
      @media (min-width: 1024px) and (max-width: 1400px) {
        .content .content-start__left__image {
          width: 480px; } }
  .content .content-start__right .content-start__title {
    font-size: 52px; }
  .content .content-start__right .tab-content {
    height: 116px !important; }
  .content .content-start__right .price__card {
    width: 300px;
    color: white;
    background-color: #140A9A;
    border-radius: 5px; }
    .content .content-start__right .price__card__title {
      font-weight: 600; }
    .content .content-start__right .price__card__total {
      font-size: 24px;
      font-weight: 600; }
  .content .content-start__right .price__card:first-child {
    margin-right: 36px; }
    @media (max-width: 480px) {
      .content .content-start__right .price__card:first-child {
        margin-right: 0; } }

.content .content-end__title {
  font-size: 24px;
  font-weight: 700; }

.content .content-end__card-item .card-img-top {
  width: 100%;
  height: 200px; }

.content .content-end__card-item .card-body .card-title {
  font-size: 18px;
  color: #140A9A; }

.content .content-end__card-item .card-body .card-size {
  font-weight: 700; }

.content .content-end__card {
  display: flex; }
  @media (max-width: 480px) {
    .content .content-end__card {
      display: none; } }
  @media (min-width: 480px) and (max-width: 767px) {
    .content .content-end__card {
      display: none; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .content .content-end__card {
      display: flex; } }
  @media (min-width: 1024px) and (max-width: 1400px) {
    .content .content-end__card {
      display: flex; } }

.content .content-end__carousel {
  display: none; }
  .content .content-end__carousel .carousel-indicators .list-inline-item .img-thumbnail {
    width: 126px;
    height: 80px; }
  .content .content-end__carousel .carousel-item {
    background-color: none;
    width: 100%;
    height: 560px; }
  .content .content-end__carousel .btn-color {
    background-color: #141414; }
  .content .content-end__carousel .carousel-control-prev-icon,
  .content .content-end__carousel .carousel-control-next-icon {
    background-color: #FFC82F;
    border-radius: 50%;
    color: black; }
  .content .content-end__carousel .carousel-control-prev,
  .content .content-end__carousel .carousel-control-next {
    top: -360px; }
  @media (max-width: 480px) {
    .content .content-end__carousel {
      display: block; } }
  @media (min-width: 480px) and (max-width: 767px) {
    .content .content-end__carousel {
      display: block; } }

.content .content-end__warranty {
  font-size: 14px; }

.postcode-pd {
  display: flex;
  padding: 20px 250px; }
  @media (max-width: 480px) {
    .postcode-pd {
      padding: 8px 8px;
      display: block; } }
  @media (min-width: 480px) and (max-width: 767px) {
    .postcode-pd {
      padding: 20px 20px;
      display: block; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .postcode-pd {
      padding: 20px 50px;
      display: block; } }
  @media (min-width: 1024px) and (max-width: 1400px) {
    .postcode-pd {
      padding: 20px 48px; } }

.contactus__tilte {
  font-size: 24px;
  font-weight: 700; }

.contactus__btn {
  color: #140A9A;
  background-color: none;
  padding: 8px 20px;
  border: 1px #140A9A solid;
  outline: 0; }
  .contactus__btn:hover {
    background-color: #140A9A;
    color: white; }
  .contactus__btn:active {
    background-color: #0901AA;
    color: white; }

.footer-detail {
  background-color: #1B232A;
  color: white;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  padding: 40px 144px;
  grid-template-columns: 1fr 1fr 1fr; }
  @media (max-width: 480px) {
    .footer-detail {
      display: block;
      padding: 10px 20px; } }
  @media (min-width: 480px) and (max-width: 767px) {
    .footer-detail {
      display: block;
      padding: 20px 40px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .footer-detail {
      display: block;
      padding: 20px 40px; } }
  @media (min-width: 1024px) and (max-width: 1400px) {
    .footer-detail {
      padding: 20px 50px; } }
  .footer-detail .item2 {
    grid-area: 1 / 2 / 3 / 3; }
    .footer-detail .item2__content {
      width: 224px; }
    .footer-detail .item2 .d-flex {
      justify-content: center; }
      .footer-detail .item2 .d-flex .material-icons.orange600 {
        color: #EEAA02; }
      @media (min-width: 1024px) and (max-width: 1400px) {
        .footer-detail .item2 .d-flex {
          justify-content: center; } }
      @media (max-width: 480px) {
        .footer-detail .item2 .d-flex {
          justify-content: center; } }
      @media (min-width: 480px) and (max-width: 767px) {
        .footer-detail .item2 .d-flex {
          justify-content: center; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .footer-detail .item2 .d-flex {
          justify-content: center; } }
  .footer-detail .item3 {
    grid-area: 1 / 3 / 3 / 3; }
    .footer-detail .item3 .contact__btn {
      color: white;
      margin: 4px;
      width: 140px;
      color: white;
      background-color: none;
      padding: 8px 20px;
      border: 1px white solid;
      outline: 0; }
      .footer-detail .item3 .contact__btn:hover {
        background-color: #111111;
        color: white; }
      .footer-detail .item3 .contact__btn:active {
        background-color: black;
        color: white; }
    @media (max-width: 480px) {
      .footer-detail .item3 {
        display: block;
        justify-content: center;
        margin: 4px 4px !important; } }
    @media (min-width: 480px) and (max-width: 767px) {
      .footer-detail .item3 {
        display: flex;
        justify-content: center;
        margin: 4px 4px !important; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .footer-detail .item3 {
        display: flex;
        justify-content: center;
        margin: 4px 4px !important; } }
  .footer-detail .item4__tilte {
    font-weight: 700;
    color: #FFC82F; }
    .footer-detail .item4__tilte__1 {
      padding-right: 112px; }
  .footer-detail .item4__content {
    display: flex;
    justify-content: center; }
    .footer-detail .item4__content__address {
      width: 436px;
      text-align: left; }
