* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.btn-navyblue {
  background-color: #140A9A;
  color: white;
  padding: 8px 20px; }
  .btn-navyblue:hover {
    color: whitesmoke; }

.postcode {
  background-color: #FFC82F; }
  .postcode__title {
    color: #140A9A;
    font-weight: 600;
    font-size: 20px; }

body {
  background-color: #f5f3f3;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.43; }

.header .navbar {
  box-shadow: -4px 0 14px -2px #A5ABAF; }
  .header .navbar .container .img-logo {
    width: 280px; }
    @media (max-width: 480px) {
      .header .navbar .container .img-logo {
        width: 200px; } }
  .header .navbar .container .width-content {
    width: 90%;
    justify-content: space-around;
    color: #1B232A;
    font-size: 20px; }
    .header .navbar .container .width-content .btn {
      font-size: 22px; }

.content .row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0; }

.content .content-start {
  margin-top: 60px; }
  .content .content-start__left {
    text-align: center; }
    .content .content-start__left__image {
      width: 580px; }
      @media (max-width: 480px) {
        .content .content-start__left__image {
          width: 100px; } }
      @media (min-width: 480px) and (max-width: 767px) {
        .content .content-start__left__image {
          width: 300px; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .content .content-start__left__image {
          width: 500px; } }
      @media (min-width: 1024px) and (max-width: 1400px) {
        .content .content-start__left__image {
          width: 480px; } }
  .content .content-start__right .content-start__title {
    font-size: 52px; }
  .content .content-start__right .price__card {
    width: 300px;
    color: white;
    background-color: #140A9A;
    border-radius: 5px; }
    .content .content-start__right .price__card__title {
      font-weight: 600; }
    .content .content-start__right .price__card__total {
      font-size: 24px;
      font-weight: 600; }
  .content .content-start__right .price__card:first-child {
    margin-right: 36px; }
    @media (max-width: 480px) {
      .content .content-start__right .price__card:first-child {
        margin-right: 0; } }
  .content .content-start__right .note .material-icons.orange600 {
    color: #EEAA02; }
  .content .content-start__right .note__content {
    margin-left: 5px; }
    .content .content-start__right .note__content .note__link {
      text-decoration: none;
      color: #140A9A;
      font-weight: 900; }

.content .content-end__title {
  font-size: 24px;
  font-weight: 700; }

.content .content-end__card-item .card-img-top {
  width: 100%;
  height: 200px; }

.content .content-end__card-item .card-body .card-title {
  font-size: 18px;
  color: #140A9A; }

.content .content-end__card-item .card-body .card-size {
  font-weight: 700; }

.content .content-end__card {
  display: flex; }
  @media (max-width: 480px) {
    .content .content-end__card {
      display: none; } }
  @media (min-width: 480px) and (max-width: 767px) {
    .content .content-end__card {
      display: none; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .content .content-end__card {
      display: flex; } }
  @media (min-width: 1024px) and (max-width: 1400px) {
    .content .content-end__card {
      display: flex; } }

.content .content-end__carousel {
  display: none; }
  .content .content-end__carousel .carousel-item {
    width: 100%;
    height: 500px; }
  .content .content-end__carousel .btn-color {
    background-color: #141414; }
  .content .content-end__carousel .carousel-control-prev-icon,
  .content .content-end__carousel .carousel-control-next-icon {
    background-color: #FFC82F;
    border-radius: 50%;
    color: black; }
  @media (max-width: 480px) {
    .content .content-end__carousel {
      display: block; } }
  @media (min-width: 480px) and (max-width: 767px) {
    .content .content-end__carousel {
      display: block; } }

.content .content-end__warranty {
  font-size: 14px; }

.postcode-pd {
  padding: 20px 250px; }
  @media (max-width: 480px) {
    .postcode-pd {
      padding: 10px 10px; } }
  @media (min-width: 480px) and (max-width: 767px) {
    .postcode-pd {
      padding: 20px 20px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .postcode-pd {
      padding: 20px 50px; } }
  @media (min-width: 1024px) and (max-width: 1400px) {
    .postcode-pd {
      padding: 20px 50px; } }

.contactus__tilte {
  font-size: 24px;
  font-weight: 700; }

.contactus__btn {
  color: #140A9A;
  background-color: none;
  padding: 8px 20px;
  border: 1px #140A9A solid;
  outline: 0; }
  .contactus__btn:hover {
    background-color: #140A9A;
    color: white; }
  .contactus__btn:active {
    background-color: #0901AA;
    color: white; }

.footer-detail {
  background-color: #1B232A;
  color: white;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  padding: 40px 144px; }
  @media (max-width: 480px) {
    .footer-detail {
      display: block;
      padding: 10px 20px; } }
  @media (min-width: 480px) and (max-width: 767px) {
    .footer-detail {
      display: block;
      padding: 20px 40px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .footer-detail {
      display: block;
      padding: 20px 40px; } }
  @media (min-width: 1024px) and (max-width: 1400px) {
    .footer-detail {
      padding: 20px 50px; } }
  .footer-detail .item2 {
    grid-area: 1 / 2 / 3 / 3; }
    .footer-detail .item2 .d-flex .material-icons.orange600 {
      color: #EEAA02; }
    @media (min-width: 1024px) and (max-width: 1400px) {
      .footer-detail .item2 .d-flex {
        justify-content: center; } }
    @media (max-width: 480px) {
      .footer-detail .item2 .d-flex {
        justify-content: center; } }
    @media (min-width: 480px) and (max-width: 767px) {
      .footer-detail .item2 .d-flex {
        justify-content: center; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .footer-detail .item2 .d-flex {
        justify-content: center; } }
  .footer-detail .item3 {
    grid-area: 1 / 3 / 3 / 3; }
    .footer-detail .item3 .contact__btn {
      color: white;
      margin: 5px 0;
      width: 140px;
      color: white;
      background-color: none;
      padding: 8px 20px;
      border: 1px white solid;
      outline: 0; }
      .footer-detail .item3 .contact__btn:hover {
        background-color: #111111;
        color: white; }
      .footer-detail .item3 .contact__btn:active {
        background-color: black;
        color: white; }
  .footer-detail .item4__tilte {
    font-weight: 700;
    color: #FFC82F; }
    .footer-detail .item4__tilte__1 {
      padding-right: 112px; }
